ErpWpf/Erp.Business/Service References/RestauranteService/RestauranteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/RestauranteService" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante.ClassesRelacionadas" />
  <xs:element name="TrocarMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="origem" type="xs:int" />
        <xs:element minOccurs="0" name="destino" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrocarMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrocarMesaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mesa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante" minOccurs="0" name="GetMesaResult" nillable="true" type="q1:PedidoRestaurante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante" minOccurs="0" name="GetEntregaResult" nillable="true" type="q2:PedidoRestaurante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mesa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante" minOccurs="0" name="NovaMesaResult" nillable="true" type="q3:PedidoRestaurante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoBalcao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoBalcaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante" minOccurs="0" name="NovoBalcaoResult" nillable="true" type="q4:PedidoRestaurante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaEntrega">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaEntregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante" minOccurs="0" name="NovaEntregaResult" nillable="true" type="q5:PedidoRestaurante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParcialMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mesa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParcialMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante" minOccurs="0" name="ParcialMesaResult" nillable="true" type="q6:PedidoRestaurante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante" minOccurs="0" name="pedido" nillable="true" type="q7:PedidoRestaurante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RestauranteService" minOccurs="0" name="ConfirmarPedidoResult" type="q8:StatusComando" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecharMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mesa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecharMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RestauranteService" minOccurs="0" name="FecharMesaResult" type="q9:StatusComando" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecharEntrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecharEntregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RestauranteService" minOccurs="0" name="FecharEntregaResult" type="q10:StatusComando" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mesa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RestauranteService" minOccurs="0" name="CancelarMesaResult" type="q11:StatusComando" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarEntrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="controle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarEntregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RestauranteService" minOccurs="0" name="CancelarEntregaResult" type="q12:StatusComando" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarItemMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mesa" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante.ClassesRelacionadas" minOccurs="0" name="composicao" nillable="true" type="q13:ComposicaoProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarItemMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RestauranteService" minOccurs="0" name="CancelarItemMesaResult" type="q14:StatusComando" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarItemMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mesa" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante.ClassesRelacionadas" minOccurs="0" name="composicao" nillable="true" type="q15:ComposicaoProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarItemMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RestauranteService" minOccurs="0" name="AdicionarItemMesaResult" type="q16:StatusComando" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastException">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastExceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastExceptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>