ErpWpf/Erp.Business/Service References/RestauranteService/RestauranteService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Contabil" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Contabil" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Sped" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Enum" />
  <xs:complexType name="TipoTitulo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q1:PropertyChangedEventHandler" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Sped" name="_contaContraPartidaAcressimos" nillable="true" type="q2:PlanoContaReferencial" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Sped" name="_contaContraPartidaDesconto" nillable="true" type="q3:PlanoContaReferencial" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Sped" name="_contaContraPartidaValor" nillable="true" type="q4:PlanoContaReferencial" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Sped" name="_contaPartidaAcressimos" nillable="true" type="q5:PlanoContaReferencial" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Sped" name="_contaPartidaDesconto" nillable="true" type="q6:PlanoContaReferencial" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Sped" name="_contaPartidaValor" nillable="true" type="q7:PlanoContaReferencial" />
      <xs:element name="_descricao" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Erp.Business.Enum" name="_x003C_Status_x003E_k__BackingField" type="q8:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoTitulo" nillable="true" type="tns:TipoTitulo" />
</xs:schema>