ErpWpf/Erp.Business/Service References/RestauranteService/RestauranteService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.ClassesRelacionadas" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Enum" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante.ClassesRelacionadas" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido" />
  <xs:complexType name="PedidoRestaurante">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido" base="q1:Pedido">
        <xs:sequence>
          <xs:element name="_x003C_Confirmado_x003E_k__BackingField" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.ClassesRelacionadas" name="_x003C_Controle_x003E_k__BackingField" nillable="true" type="q2:ControlePedido" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Erp.Business.Enum" name="_x003C_Local_x003E_k__BackingField" type="q3:LocalPedidoRestaurante" />
          <xs:element name="_x003C_Mesa_x003E_k__BackingField" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.Restaurante.ClassesRelacionadas" name="_x003C_Produtos_x003E_k__BackingField" nillable="true" type="q4:ArrayOfComposicaoProduto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PedidoRestaurante" nillable="true" type="tns:PedidoRestaurante" />
</xs:schema>