ErpWpf/ErpWpf/Service References/Suporte/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1430/Suporte.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1430/Suporte.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1430/Suporte.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Erp.Suporte.DataContracts" />
      <xsd:import schemaLocation="http://localhost:1430/Suporte.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Util.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISuporte_LogDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:LogDataBase" />
  </wsdl:message>
  <wsdl:message name="ISuporte_LogDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="ISuporte_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="ISuporte_Log_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:message name="ISuporte_LicenceValid_InputMessage">
    <wsdl:part name="parameters" element="tns:LicenceValid" />
  </wsdl:message>
  <wsdl:message name="ISuporte_LicenceValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:LicenceValidResponse" />
  </wsdl:message>
  <wsdl:message name="ISuporte_RequestLicence_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestLicence" />
  </wsdl:message>
  <wsdl:message name="ISuporte_RequestLicence_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestLicenceResponse" />
  </wsdl:message>
  <wsdl:portType name="ISuporte">
    <wsdl:operation name="LogDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuporte/LogDataBase" message="tns:ISuporte_LogDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuporte/LogDataBaseResponse" message="tns:ISuporte_LogDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuporte/Log" message="tns:ISuporte_Log_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuporte/LogResponse" message="tns:ISuporte_Log_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LicenceValid">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuporte/LicenceValid" message="tns:ISuporte_LicenceValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuporte/LicenceValidResponse" message="tns:ISuporte_LicenceValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestLicence">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuporte/RequestLicence" message="tns:ISuporte_RequestLicence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuporte/RequestLicenceResponse" message="tns:ISuporte_RequestLicence_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISuporte" type="tns:ISuporte">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogDataBase">
      <soap:operation soapAction="http://tempuri.org/ISuporte/LogDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/ISuporte/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenceValid">
      <soap:operation soapAction="http://tempuri.org/ISuporte/LicenceValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestLicence">
      <soap:operation soapAction="http://tempuri.org/ISuporte/RequestLicence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_ISuporte" binding="tns:BasicHttpBinding_ISuporte">
      <soap:address location="http://localhost:1430/Suporte.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>