ErpWpf/ErpWpf/Service References/Suporte/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5269/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5269/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5269/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Erp.Suporte.Business.Entity.Licenca" />
      <xsd:import schemaLocation="http://localhost:5269/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Erp.Suporte.Business.Enum" />
      <xsd:import schemaLocation="http://localhost:5269/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5269/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:5269/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:5269/Service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Erp.Suporte.Business.Entity.Suporte" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="IService_Log_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LogDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:LogDataBase" />
  </wsdl:message>
  <wsdl:message name="IService_LogDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RequestLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestLicense" />
  </wsdl:message>
  <wsdl:message name="IService_RequestLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LicenceActivated_InputMessage">
    <wsdl:part name="parameters" element="tns:LicenceActivated" />
  </wsdl:message>
  <wsdl:message name="IService_LicenceActivated_OutputMessage">
    <wsdl:part name="parameters" element="tns:LicenceActivatedResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RequestUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestUpdate" />
  </wsdl:message>
  <wsdl:message name="IService_RequestUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RequestSuport_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestSuport" />
  </wsdl:message>
  <wsdl:message name="IService_RequestSuport_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestSuportResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Log" message="tns:IService_Log_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LogResponse" message="tns:IService_Log_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LogDataBase" message="tns:IService_LogDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LogDataBaseResponse" message="tns:IService_LogDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RequestLicense" message="tns:IService_RequestLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RequestLicenseResponse" message="tns:IService_RequestLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LicenceActivated">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LicenceActivated" message="tns:IService_LicenceActivated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LicenceActivatedResponse" message="tns:IService_LicenceActivated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RequestUpdate" message="tns:IService_RequestUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RequestUpdateResponse" message="tns:IService_RequestUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestSuport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RequestSuport" message="tns:IService_RequestSuport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RequestSuportResponse" message="tns:IService_RequestSuport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/IService/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogDataBase">
      <soap:operation soapAction="http://tempuri.org/IService/LogDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestLicense">
      <soap:operation soapAction="http://tempuri.org/IService/RequestLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenceActivated">
      <soap:operation soapAction="http://tempuri.org/IService/LicenceActivated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <soap:operation soapAction="http://tempuri.org/IService/RequestUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestSuport">
      <soap:operation soapAction="http://tempuri.org/IService/RequestSuport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:5269/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>