ErpWpf/ErpWpf/Service References/Suporte/Suporte2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1430/Suporte.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Erp.Suporte.DataContracts" />
  <xs:element name="LogDataBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exception" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogDataBaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Log">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exception" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenceValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Erp.Suporte.DataContracts" minOccurs="0" name="licenca" nillable="true" type="q1:Licenca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenceValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LicenceValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestLicence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Suporte.DataContracts" minOccurs="0" name="licenca" nillable="true" type="q2:Licenca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestLicenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Erp.Suporte.DataContracts" minOccurs="0" name="RequestLicenceResult" nillable="true" type="q3:Licenca" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>