ErpWpf/RestauranteMobile/Service References/RestauranteService/RestauranteService24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Contabil.Pessoa" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Contabil.Pessoa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Contabil.Pessoa.ClassesRelacionadas" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Enum" />
  <xs:complexType name="Pessoa">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Contabil.Pessoa.ClassesRelacionadas" name="_x003C_ContatoTelefonicos_x003E_k__BackingField" nillable="true" type="q1:ArrayOfPessoaTelefone" />
      <xs:element name="_x003C_DataCadastro_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Contabil.Pessoa.ClassesRelacionadas" name="_x003C_EnderecoEletronicos_x003E_k__BackingField" nillable="true" type="q2:ArrayOfPessoaContatoEletronico" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Contabil.Pessoa.ClassesRelacionadas" name="_x003C_Enderecos_x003E_k__BackingField" nillable="true" type="q3:ArrayOfPessoaEndereco" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Erp.Business.Enum" name="_x003C_Status_x003E_k__BackingField" type="q4:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pessoa" nillable="true" type="tns:Pessoa" />
</xs:schema>