ErpWpf/RestauranteMobile/Service References/RestauranteService/RestauranteService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Fiscal.ClassesRelacionadas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Fiscal.ClassesRelacionadas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.ClassesRelacionadas" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Fiscal" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Sped" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Enum" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Estoque.Produto" />
  <xs:import schemaLocation="http://localhost:14721/RestauranteService.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Estoque.Produto.ClassesRelacionadas" />
  <xs:complexType name="NaturezaInterna">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cfop" nillable="true" type="tns:Cfop" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NaturezaInterna" nillable="true" type="tns:NaturezaInterna" />
  <xs:complexType name="Cfop">
    <xs:sequence>
      <xs:element name="_x003C_Aplicacao_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CodigoCfop_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cfop" nillable="true" type="tns:Cfop" />
  <xs:complexType name="ArrayOfNotaFiscalPagamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotaFiscalPagamento" nillable="true" type="tns:NotaFiscalPagamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotaFiscalPagamento" nillable="true" type="tns:ArrayOfNotaFiscalPagamento" />
  <xs:complexType name="NotaFiscalPagamento">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Vendas.Pedido.ClassesRelacionadas" minOccurs="0" name="FormaPagamento" nillable="true" type="q1:FormaPagamento" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Fiscal" minOccurs="0" name="NotaFiscal" nillable="true" type="q2:NotaFiscal" />
      <xs:element minOccurs="0" name="Sequencia" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="Vencimento" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaFiscalPagamento" nillable="true" type="tns:NotaFiscalPagamento" />
  <xs:complexType name="ArrayOfProdutoNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoNotaFiscal" nillable="true" type="tns:ProdutoNotaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoNotaFiscal" nillable="true" type="tns:ArrayOfProdutoNotaFiscal" />
  <xs:complexType name="ProdutoNotaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseIcms" type="xs:decimal" />
      <xs:element minOccurs="0" name="CFOP" nillable="true" type="tns:Cfop" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Sped" minOccurs="0" name="CST" nillable="true" type="q3:Cst" />
      <xs:element minOccurs="0" name="CodigoFornecedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Erp.Business.Enum" minOccurs="0" name="IndicadorTotalizacao" type="q4:IndicadorTotalizacao" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Sped" minOccurs="0" name="NCM" nillable="true" type="q5:Ncm" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Fiscal" minOccurs="0" name="NotaFiscal" nillable="true" type="q6:NotaFiscal" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Estoque.Produto" minOccurs="0" name="Produto" nillable="true" type="q7:Produto" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sequencia" type="xs:int" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Erp.Business.Enum" minOccurs="0" name="TipoOperacaoNotaDaGente" type="q8:OperacaoNotaDaGente" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Erp.Business.Entity.Estoque.Produto.ClassesRelacionadas" minOccurs="0" name="Unidade" nillable="true" type="q9:Unidade" />
      <xs:element minOccurs="0" name="ValorIcms" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIpi" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorUnitario" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoNotaFiscal" nillable="true" type="tns:ProdutoNotaFiscal" />
</xs:schema>